{% extends "layouts/base.twig" %}

{% block layout %}

    <div class="content-wrapper full-width" id="content" role="main">
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}