<article id="post-0" class="post no-results not-found">
	<header>
		<h2>{{ __( 'Nothing Found', 'timber-regions' ) }}</h2>
	</header>
	<div class="entry-content">
		<p>{{ __( 'Apologies, but no results were found. Perhaps searching will help find a related post.', 'timber-regions' ) }}</p>
	</div>
	<hr />
</article>